@charset "utf-8";
/* CSS Document */
html{ height:100%}
body{ background: url(../img/bg.jpg) no-repeat center top; background-size:100% 100%}
h1 {
    width: 100%;
    text-align: center;
    font-weight: lighter;
    position: absolute;
    left: 0;
    top: 200px;
    font-family: "z3", serif;

} @font-face {
    font-family: 'z3';   /*字体名称*/
    src: url('../思源黑体字体全套/4.otf');       /*字体源文件*/
}


.qiqiu{ position:fixed; width:100px; height:200px;}
.qiqiu div{ width:70px; height:65px; background:url(../img/730e0cf3d7ca7bcbbc1b79c0bf096b63f724a8f9.png) no-repeat center center; padding:15px 5px 0; text-align:center; margin:0 auto; background-size:100% auto;
    line-height: 65px;}
.qiqiu a{ width:100%; height:auto;}
.qiqiu img{ width:100%; height:auto; display:block;}

.qiqiu1{ bottom:-200px; left:300px;animation: myfirst 20s linear infinite; z-index:2222;animation-delay:0s;-webkit-animation: myfirst 12s linear infinite; z-index:2222;-webkit-animation-delay:0s; }
.qiqiu2{ bottom:-200px; left:650px;animation: myfirst2 22s 1s linear infinite;animation-delay:2s;width:70px;-webkit-animation: myfirst2 12s 1s linear infinite;-webkit-animation-delay:2s;}
.qiqiu3{ bottom:-200px; left:450px;animation: myfirst3 22.2s linear infinite; z-index:2222;animation-delay:3s;-webkit-animation: myfirst3 15s linear infinite;-webkit-animation-delay:3s; }
.qiqiu4{ bottom:-200px; left:1050px;animation: myfirst4 21s 0.2s linear infinite; z-index:2222;animation-delay:5s;-webkit-animation: myfirst4 21s 0.2s linear infinite;-webkit-animation-delay:5s; }
.qiqiu5 div{ width:50px; height:55px; padding: 5px 5px 0; margin:0 auto}
.qiqiu6{ bottom:-200px; left:500px;animation: myfirst 20s linear infinite; z-index:2222;animation-delay:0s;-webkit-animation: myfirst 20s linear infinite; z-index:2222;-webkit-animation-delay:7s; }
.qiqiu7{ bottom:-200px; left:720px;animation: myfirst2 26s 1s linear infinite;animation-delay:2s;width:70px;-webkit-animation: myfirst2 22s 1s linear infinite;-webkit-animation-delay:8s;}
.qiqiu8{ bottom:-200px; left:900px;animation: myfirst3 23s linear infinite; z-index:2222;animation-delay:3s;-webkit-animation: myfirst3 19s linear infinite;-webkit-animation-delay:9s; }
.qiqiu9{ bottom:-200px; left:100px;animation: myfirst4 20s 0.2s linear infinite; z-index:2222;animation-delay:7s;-webkit-animation: myfirst4 18s 0.2s linear infinite;-webkit-animation-delay:10s; }
.qiqiu10{ bottom:-200px; left:1300px;animation: myfirst4 28s 0.2s linear infinite; z-index:2222;animation-delay:9s;-webkit-animation: myfirst4 20s 0.2s linear infinite;-webkit-animation-delay:6s; }
.qiqiu11{ bottom:-200px; left:800px;animation: myfirst 20s linear infinite; z-index:2222;animation-delay:1s;-webkit-animation: myfirst 14s linear infinite; z-index:2222;-webkit-animation-delay:0s; }
.qiqiu12{ bottom:-200px; left:1200px;animation: myfirst 20s linear infinite; z-index:2222;animation-delay:2s;-webkit-animation: myfirst 13s linear infinite; z-index:2222;-webkit-animation-delay:0s; }
.qiqiu2 div{ width:60px; height:65px; padding: 5px 5px 0; margin:0 auto}

.qiqiu5{ bottom:-200px; left:1250px;animation: myfirst5 19.5s 1.2s linear infinite;animation-delay:4s;width:60px;}
.qiqiu:hover{
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
    transform: scale(1.1,1.1);
}
.yun{ position:fixed;}
.yun1{ width:567px; height:185px; background:url(../img/yun1.png) no-repeat center center; left:1060px; top:318px;animation: myfirst6 50s linear infinite;-webkit-animation: myfirst6 50s linear infinite;}
.yun2{ width:605px; height:253px; background: url(../img/yun2.png) no-repeat center center; left:180px; top:249px;animation: myfirst7 50s linear infinite;-webkit-animation: myfirst7 50s linear infinite;}
.yun3{ width:348px; height:226px; background: url(../img/yun3.png) no-repeat center center; left:50px; top:500px;animation: myfirst8 50s linear infinite;-webkit-animation: myfirst8 50s linear infinite;}
.yun4{ width:786px; height:362px; background:url(../img/yun4.png) no-repeat center center; left:762px; top:433px;animation: myfirst9 50s linear infinite;-webkit-animation: myfirst9 50s linear infinite;}
@keyframes myfirst
{
    from {bottom: -200px;}
    to {bottom: 800px;}
}
@keyframes myfirst2
{
    from {bottom: -200px;}
    to {bottom: 850px;}
}
@keyframes myfirst3
{
    from {bottom: -200px;}
    to {bottom: 820px;}
}
@keyframes myfirst4
{
    from {bottom: -200px;}
    to {bottom: 780px;}
}
@keyframes myfirst5
{
    from {bottom: -200px;}
    to {bottom: 830px;}
}
@keyframes myfirst6
{
    from {left: 1060px;}
    to {left: 1250px;}
}
@keyframes myfirst7
{
    from {left: 180px;}
    to {left: 400px;}
}
@keyframes myfirst8
{
    from {left: 50px;}
    to {left: 350px;}
}
@keyframes myfirst9
{
    from {left: 762px;}
    to {left: 1000px;}
}
@-webkit-keyframes myfirst
{
    from {bottom: -200px;}
    to {bottom: 800px;}
}
@-webkit-keyframes myfirst2
{
    from {bottom: -200px;}
    to {bottom: 850px;}
}
@-webkit-keyframes myfirst3
{
    from {bottom: -200px;}
    to {bottom: 820px;}
}
@-webkit-keyframes myfirst4
{
    from {bottom: -200px;}
    to {bottom: 780px;}
}
@-webkit-keyframes myfirst5
{
    from {bottom: -200px;}
    to {bottom: 830px;}
}
@-webkit-keyframes myfirst6
{
    from {left: 1060px;}
    to {left: 1250px;}
}
@-webkit-keyframes myfirst7
{
    from {left: 180px;}
    to {left: 400px;}
}
@-webkit-keyframes myfirst8
{
    from {left: 50px;}
    to {left: 350px;}
}
@-webkit-keyframes myfirst9
{
    from {left: 762px;}
    to {left: 1000px;}
}