body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;padding:0;
    font-family: Tahoma, Helvetica, "Microsoft Yahei", 微软雅黑, Arial, STHeiti, serif;
    font-weight: lighter;
}
body{
    background: #f9f9f9;
}
.head{
    width: 100%;
    height: 80px;
}
.head .logo {
    width: 600px;
    height: 100px;
    text-align: center;
    float: left;
    margin-left: 80px;
}
.head .logo a{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    float: left;
    margin-left: 200px;

}
.head .logo img{
    margin-top: 10px;
    width: 60px;
    height: 60px;
}
.head .logo h3{
    float: right;
    width: 200px;
    height: 30px;
    margin-right: 140px;
    margin-top: 30px;
    font-size: 20px;
    color: red;
}
.fg{
    width: 100%;
    height: 1px;
    box-shadow: 2px 1px 1px 1px #ccc;
}
.content {
    width: 1040px;
    height: 600px;
    margin: -38px auto;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    position: relative;
    border-radius: 5px;
}
.content .left {
    width: 600px;
    height: 600px;
    margin-top: 40px;
    margin-left: 40px;
    border-right: 2px solid #ccc;
}
.content .left div{
    float: left;
    margin-top: 38px;
    width: 500px;
}
.content .left .input1 input{
    width: 350px;
    height: 30px;
    margin-left:30px;
}
span .box{
    width: 0;
    height: 30px;
    line-height: 30px;
    color: red;
    margin-right: 5px;
}
.content .left .input2 input{
    width: 350px;
    height: 30px;
    margin-left: 15px;
}.content .left .input3 input{
     width: 350px;
     height: 30px;
     margin-left: 42px;
 }.content .left .input4 input{
      width: 350px;
      height: 30px;
      margin-left: 10px;
  }
.content .left .input6 input{
    width: 350px;
    height: 30px;
    margin-left: 42px;
}
.content .left .input5 input{
    width: 220px;
    height: 30px;
    margin-left: 25px;
}

.content .left .input5  img{
    width: 100px;
    height: 40px;
    margin-left: 10px;
}
.content .left .input5  a{
    text-decoration: none;
    color: blue;
    display: block;
    width: 150px;
    font-size: 13px;
    margin-top: -10px;
    margin-left: 325px;
}
.content .left .c{
    float: left;
    margin-left: 92px;
    margin-top: 25px;
    font-size: 12px;
    color: #ccc;
    font-family: verdana,sans-serif;

}
.content .left .c a{
    text-decoration: none;
    color: blue;
}

.content .left input[type=button]{
    float: left;
    width: 120px;
    height: 40px;
    margin-left: 160px;
    margin-top: 20px;
    background: #ccc;
    color: white;
    border-radius: 5px;
}
.content .left input[type=submit]{
    float: left;
    width: 120px;
    height: 40px;
    margin-left: 160px;
    margin-top: 20px;
    background: #4fab39;
    color: white;
    border-radius: 5px;
}
.content .right{
    width: 400px;
    height: 600px;
    position: absolute;
    background: url("../img/背景图片.jpg");
    right: 0;
    top: 0;
    border-radius: 5px;
    font-weight: lighter;
}
.content .right .xuanchuang{
    margin: 150px 100px;
    color: #5186c0;

}
.content .right p{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
}

